@charset "UTF-8";
*{
    box-sizing: border-box;
}
body {
    background: #fff;
    font-family: "Lora", serif;
    font-weight: normal;
    font-size: 14px;
    color: #1F1F1F;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.font-lato{
    font-family: Lato;
}