.footer {
    background-color: #0B1348;
    background-image: url('../images/bg-footer.png');
    background-size: cover;
    @extend .text-white;
    padding-top: 68px;

    .footer-top {
        @extend .text-center;
        .logo-footer{
            max-height: 60px;
            max-width: 224px;
            object-fit: scale-down;
            margin-bottom: 20px;
        }
    }
    .footer-title {
        font-weight: 500;
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 40px;
    }
    .footer-desc {
        max-width: 750px;
        padding: 0 10px;
        margin: 0 auto 25px;
    }
    .address {
        margin-bottom: 26px;
        @extend .d-flex, .align-items-center, .justify-content-center;
    }
    .footer-icon {
        @include col-w(40px);
        height: 40px;
        background-color: #fff;
        color: var(--brand-brandb-500);
        box-shadow: 0 0 0 5px rgba($color: #fff, $alpha: 0.1);
        margin-right: 10px;
        @extend .d-flex, .align-items-center, .justify-content-center, .rounded-circle;
    }
    .list-contact{
        max-width: 760px;
        margin: 0 auto 37px;
        @extend .list-unstyled, .d-flex, .align-items-center, .justify-content-between, .flex-wrap;
        li{
            margin: 0 10px;
            @extend .col-auto;
        }
        p{
            text-wrap: nowrap;
            @extend .d-flex, .align-items-center, .justify-content-center;
        }
    }
    .footer-wrap {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding-top: 53px;
        @extend .row;
    }
    .footer-col {
        @extend .col-lg-3;
    }
    .f-menu {
        @extend .list-unstyled;
    }
    .f-item {
        margin-bottom: 6px;
    }
    .f-link {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        margin-bottom: 8px;
        &:hover{
            color: #ccc;
        }
    }
    .footer-bot {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 53px;
        padding: 20px 0;
        @extend .d-flex, .align-items-center;
    }
    .ft-left {
        padding: 10px 0;
        p{
            margin-bottom: 0;
            color: rgba(255, 255, 255, 0.70);
        }
    }
    .ft-right {
        margin-left: auto;
        a{
            margin-left: 20px;
            img{
                max-height: 40px;
            }
        }
    }
}
